<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="selectTabs">

    <ion-segment-button value="Pedidos nuevos">
      <ion-label>Pedidos nuevos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Pedidos totales">
      <ion-label>Pedidos totales</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'Pedidos nuevos'">
    <div class="grid-container">
      <div></div>
      <div>
      <ion-button color="danger" expand="block">
        agregar pedido
      </ion-button>
    </div>
      <div></div>
    </div>


  </div>

  <div *ngIf="selectTabs == 'Pedidos totales'">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button color="dark">
            agregar pedido
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>



</ion-content>